@import '../_variables';
@import '../_mixins';

/* Article-Header */

.article-header {
    &__action {
        padding: 50px 0;
        @media screen and (max-width: $md2 + px) {
            padding: 35px 0;
        }
        @media screen and (max-width: $md3 + px) {
            padding: 25px 0;
        }
    }

    &__themes {
        margin: 40px 0 55px 0;
    }

    &__contents-table {
        margin: 55px 0 35px 0;
    }
}