@import '../_variables';
@import '../_mixins';

/* Article */

.article {

    &__header {
    }

    &__action {
        padding: 50px 0;
    }

    &__action-bookmark {
        min-width: 235px;
    }

    &__content {
        padding-top: 40px;
    }

    &__footer {
    }
}
