@import '../_variables';
@import '../_mixins';

/* Breadcrumbs */

.breadcrumbs {

    &__list {
        display: flex;
        text-align: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;

        &:not(:last-child)::after {
            content: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 3.5L0.6965 7L0 6.262L2.607 3.5L0 0.738L0.6965 0L4 3.5Z' fill='white'/%3E%3C/svg%3E%0A");
            margin: auto 10px;
            padding-bottom: 0.1em;

            @media screen and (max-width: $md3 + px) {
                padding-bottom: 0.2em;
            }
        }
    }

    &__link {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        line-height: 20px;

        @media screen and (max-width: $md2 + px) {
            font-size: 13px;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 12px;
        }
    }
}

