@import '../_variables';
@import '../_mixins';

/* Button */

.button {
    height: 37px;
    padding: 0 30px;
    letter-spacing: 0.06em;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #fff;
    
    border: 0;
    background: var(--accent-color, #621EF4);
    border-radius: 5px;

    transition: all var(--transition-time, 0.4s) ease;

    &:hover, &.focus-visible {
        @include no-focus-outline();
        background: var(--accent-dark-color, #4305C7);
    }

    &_white {
        background: #fff;
        color: #5a5a5a;

        &:hover, &.focus-visible {
            background: var(--accent-color, #621EF4);
            color: #fff;
        }
    }

    @media screen and (max-width: $md3 + px) {
        border-radius: 3px;
    }
}
