@import '../_variables';
@import '../_mixins';

/* Button */

.button {
    height: 37px;
    padding: 0 30px;
    letter-spacing: 0.06em;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #fff;
    
    border: 0;
    background: var(--accent-color, #621EF4);
    border-radius: 5px;

    transition: all 0.3s ease;

    &:hover, &:focus {
        background: var(--accent-dark-color, #4305C7);
    }

    @media screen and (max-width: $md2 + px) {
        height: 35px;
        padding: 0 20px;
        letter-spacing: .03em;
        font-size: 12px;
        line-height: 16px;
    }
}
