@import '../_variables';
@import '../_mixins';

/* Button */

.button {
    height: 37px;
    padding: 0 30px;

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    
    border: 0;
    background: var(--accent-color, #621EF4);

    border-radius: 5px;

    @media screen and (max-width: $md3 + px) {
        border-radius: 3px;
        font-size: 12px;
        line-height: 14px;
        padding: 0 15px;
    }

    &__icon-block {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    &_small &__icon-block {
        margin-left: 13px;
        @media screen and (max-width: $md2 + px) {
            margin-left: 10px;
        }
    }

    &__icon-label {
        margin-left: 6px;
    }

    &_small {
        padding: 0 17px;
        justify-content: center;
        @media screen and (max-width: $md2 + px) {
            padding: 0 15px;
            height: 34px;
            font-size: 13px;
            line-height: 15px;
        }
    }    

    transition: all var(--transition-time, 0.4s) ease;
    &:hover, &.focus-visible {
        @include no-focus-outline();
        background: var(--accent-dark-color, #4305C7);
    }

    &_wide {
        width: 100%;
    }

    &_white {
        background: #fff;
        color: #5a5a5a;

        &:hover, &.focus-visible {
            background: var(--accent-color, #621EF4);
            color: #fff;
        }
    }

    &_grey {
        background: #F5F5F5;
        color: #787878;
        path {
            fill: #A0A0A0;
            transition: all var(--transition-time, 0.4s) ease;
        }

        &:hover, &.focus-visible {
            background: var(--accent-light-color, #E5D9FF);
            color: var(--accent-color, #621EF4);
            path {
                fill: var(--accent-color, #621EF4);
            }
        }

        &:active {
            background: var(--accent-color, #621EF4);
            color: #fff;
            path {
                fill: #fff;
            }
        }
    }
    &_grey.button_active {
        background: var(--accent-color, #621EF4);
            color: #fff;
            path {
                fill: #fff;
            }
    }
}
