@import '../_variables';
@import '../_mixins';

/* Cards-Slider */

.cards-slider {

    &__top-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__control-view {
    }

    &__view-button {
        background: none;
        border: 0;
        padding: 0;

        width: 22px;
        height: 22px;

        @media screen and (max-width: $md4 + px) {
            width: 18px;
            height: 18px;
        }

        svg {
            width: 100%;
            height: 100%;
        }

        path {
            transition: all var(--transition-time, 0.4s) ease;
        }

        &_active,
        &:hover,
        &:focus {
            path {
                fill: var(--accent-color, #621EF4);
            }
        }
    }

    &__control-sort {
        position: relative;
    }

    &__sort-button {
        position: relative;
        background: none;
        border: 0;
        padding: 5px 0;
    }

    &__sort-label {
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #969696;
        padding-right: 30px;
        text-align: right;

        transition: all var(--transition-time, 0.4s) ease;

        @media screen and (max-width: $md4 + px) {
            font-size: 11px;
            line-height: 14px;
            padding-right: 25px;
        }
    }
    &__sort-button_active &__sort-label {
        color: var(--accent-color, #621EF4);
    }

    &__sort-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate3d(0, -40%, 0);

        display: flex;
        width: 14px;
        height: 8px;

        svg {
            width: 100%;
            height: 100%;
        }

        transition: all var(--transition-time, 0.4s) ease;
        path {
            transition: all var(--transition-time, 0.4s) ease;
        }

        @media screen and (max-width: $md4 + px) {
            height: 7px;
        }
    }
    &__sort-button_active &__sort-icon {
        transform: translate3d(0, -40%, 0) rotate(180deg);

        path {
            fill: var(--accent-color, #621EF4);
        }
    }

    &__sort-list {
        position: absolute;
        right: 5px;
        top: calc(100% + 5px);
        padding: 5px;
        text-align: right;
        z-index: 1;

        display: none;
        &_show {
            display: block;
        }

        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    &__sort-item {

    }

    &__sort-value {
        background: #fff;
        border: 0;
        padding: 7px 10px;

        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #969696;
        text-align: right;

        white-space: nowrap;

        transition: all var(--transition-time, 0.4s) ease;

        &:hover, &:focus {
            color: var(--accent-color, #621EF4);
        }

        @media screen and (max-width: $md4 + px) {
            font-size: 11px;
            line-height: 14px;
        }
    }


    &__page {
        margin: 0 20px;
        
        &:not(.cards-slider__page_wide) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 40px;
            row-gap: 60px;

            @media screen and (max-width: $md2 + px) {
                column-gap: 20px;
                row-gap: 30px;
            }
            @media screen and (max-width: $md3 + px) {
                column-gap: 15px;
                row-gap: 20px;
            }
            @media screen and (max-width: 630px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: $md4 + px) {
                column-gap: 15px;
                row-gap: 15px;
            }
        }

        &_wide {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 50px;
            @media screen and (max-width: $md2 + px) {
                row-gap: 40px;
            }
        }
    }


    &__body {
        margin-top: 25px;
        margin-left: -20px;
        margin-right: -20px;
        @media screen and (max-width: $md2 + px) {
            margin-top: 0;
        }
    }

    &__card {

    }

    &__bottom-controls {
        margin-top: 60px;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $md2 + px) {
            margin-top: 40px;
        }
        @media screen and (max-width: $md3 + px) {
            margin-top: 20px;
        }
        @media screen and (max-width: $md4 + px) {
            margin-top: 5px;
        }
    }

    .slick {
        /* Слайдер */
        &-slider {}
    
        /* Слайдер запущен */
        &-slider.slick-initialized {}
    
        /* Слайдер с точками */
        &-slider.slick-dotted {}
    
        /* Ограничивающая оболочка */
        &-list {
            overflow: hidden;
            box-sizing: content-box;
            padding: 30px 0;
        }
    
        /* Лента слайдов */
        &-track {
            display: flex;
            align-items: flex-start;
        }
    
        /* Слайд */
        &-slide {
    
            /* Слайд активный (показывается) */
            &.slick-active {}
    
            /* Слайд основной */
            &.slick-current {}
    
            /* Слайд по центру */
            &.slick-center {}
    
            /* Клонированный слайд */
            &.slick-cloned {}
        }
    
        /* Стрелка */
        &-arrow {
            border: 0;
            background: #F5F5F5;
            border-radius: 5px;
            min-width: 80px;
            height: 26px;

            font-family: "Open Sans";
            font-weight: 600;
            font-size: 9px;
            line-height: 12px;
            color: #828282;

            @media screen and (max-width: $md4 + px) {
                border-radius: 3px;
                min-width: 60px;
                height: 22px;
            }

            transition: all var(--transition-time, 0.4s) ease;

            &:hover:not(.slick-disabled), &:focus:not(.slick-disabled) {
                background: var(--accent-light-color, #E5D9FF);
                color: var(--accent-color, #621EF4);
            }

            &:active:not(.slick-disabled) {
                background: var(--accent-color, #621EF4);
                color: #fff;
            }
    
            /* Стрелка влево */
            &.slick-prev {
                order: -1;
            }
    
            /* Стрелка вправо */
            &.slick-next {
                order: 1;
            }
    
            /* Стрелка не активная */
            &.slick-disabled {
                color: #BBBBBB;
            }
        }
    
        /* Точки (булиты) */
        &-dots {
            display: flex;
            margin: 0 15px;

            @media screen and (max-width: $md3 + px) {
                margin: 0 8px;
            }
            @media screen and (max-width: $md4 + px) {
                margin: 0 5px;
            }
    
            li {
    
                /* Активная точка */
                &.slick-active {
                    button {
                        background: var(--accent-color, #621EF4) !important;
                        color: #fff !important;
                    }
                }
    
                /* Элемент точки */
                button {
                    border: 0;
                    background: #F5F5F5;
                    border-radius: 5px;
                    min-width: 26px;
                    height: 26px;

                    font-family: "Open Sans";
                    font-weight: 600;
                    font-size: 9px;
                    line-height: 12px;
                    color: #828282;

                    @media screen and (max-width: $md4 + px) {
                        border-radius: 3px;
                        min-width: 22px;
                        height: 22px;
                    }

                    transition: all var(--transition-time, 0.4s) ease;

                    &:hover, &:focus {
                        background: var(--accent-light-color, #E5D9FF);
                        color: var(--accent-color, #621EF4);
                    }
                }

                &:not(:last-child) {
                    margin-right: 15px;

                    @media screen and (max-width: $md3 + px) {
                        margin-right: 8px;
                    }
                    @media screen and (max-width: $md4 + px) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
