@import '../_variables';
@import '../_mixins';

/* Sidebar-Category */

.category {

    &__item {
        &:not(:last-child) {
            margin-bottom: 11px;
        }
    }

    &__link {
        display: block;

        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #969696;

        transition: all var(--transition-time, 0.4s) ease;
        transform-origin: left center;

        @media screen and (min-width: $md3 + 1 + px) {
            &:hover {
                font-weight: bold;
                color: var(--accent-color, #621EF4);
                padding-left: 10px;
                transform: scale(1.1);
            }
        }
    }
}
