@import '../_variables';
@import '../_mixins';

// Hero

.hero {
    

    .slick {
        // Слайдер
        &-slider {
            position: relative;
        }

        // Слайдер запущен
        &-slider.slick-initialized {}

        // Слайдер с точками
        &-slider.slick-dotted {}

        // Ограничивающая оболочка
        &-list {
            overflow: hidden;
        }

        // Лента слайдов
        &-track {
            display: flex;
            align-items: flex-start;
        }

        // Слайд
        &-slide {

            // Слайд активный (показывается)
            &.slick-active {}

            // Слайд основной
            &.slick-current {}

            // Слайд по центру
            &.slick-center {}

            // Клонированный слайд
            &.slick-cloned {}
        }

        // Стрелка
        &-arrow {

            &.slick-prev,
            &.slick-next {
                background: none;
                border: 0;
                font-size: 0;
                width: 24px;
                height: 44px;
                position: absolute;
                top: 50%;
                z-index: 1001;

                transition: all var(--transition-time, 0.4s) ease;
                path {
                    transition: all var(--transition-time, 0.4s) ease;
                }

                &:hover, &.focus-visible {
                    path {
                        fill: var(--accent-color, #621EF4);
                    }
                }

                @media screen and (max-width: $md2 + px) {
                    height: 40px;
                }
                @media screen and (max-width: $md3 + px) {
                    height: 30px;
                }
                @media screen and (max-width: $md4 + px) {
                    height: 20px;
                }
            }

            // Стрелка влево
            &.slick-prev {
                left: 100px;
                transform: translate3d(0, -50%, 0);

                &:hover, &.focus-visible {
                    @include no-focus-outline();
                    transform: scale(1.25) translate3d(0, calc(-50% * 0.8), 0);
                }

                @media screen and (max-width: $md1 + px) {
                    left: 50px;
                }
                @media screen and (max-width: $md2 + px) {
                    left: 30px;
                }
                @media screen and (max-width: $md3 + px) {
                    left: 15px;
                }
                @media screen and (max-width: $md4 + px) {
                    left: 5px;
                }
            }

            // Стрелка вправо
            &.slick-next {
                right: 100px;
                transform: translate3d(0, -50%, 0) rotate(180deg);

                &:hover, &.focus-visible {
                    @include no-focus-outline();
                    transform: scale(1.25) translate3d(0, calc(-50% * 0.8), 0) rotate(180deg);
                }

                @media screen and (max-width: $md1 + px) {
                    right: 50px;
                }
                @media screen and (max-width: $md2 + px) {
                    right: 30px;
                }
                @media screen and (max-width: $md3 + px) {
                    right: 15px;
                }
                @media screen and (max-width: $md4 + px) {
                    right: 5px;
                }
            }

            // Стрелка не активная
            &.slick-disabled {}
        }

        // Точки (булиты)
        &-dots {
            position: absolute;
            bottom: 75px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            z-index: 1000;
            display: flex;

            @media screen and (max-width: $md3 + px) {
                bottom: 50px;
            }
            @media screen and (max-width: $md4 + px) {
                bottom: 35px;
            }

            li {

                // Активная точка
                &.slick-active button,
                button:hover {
                    background: var(--accent-color, #621EF4);
                    box-shadow: 0 0 0 3px var(--accent-color,#621ef4);

                    @media screen and (max-width: $md3 + px) {
                        box-shadow: 0 0 0 2px var(--accent-color,#621ef4);
                    }
                    @media screen and (max-width: $md4 + px) {
                        box-shadow: 0 0 0 1px var(--accent-color,#621ef4);
                    }
                }

                // Элемент точки
                button {
                    border: 0;
                    font-size: 0;

                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    padding: 0;
                    margin: 0 7px;

                    background: #fff;

                    transition: all var(--transition-time, 0.4s) ease;

                    @media screen and (max-width: $md3 + px) {
                        width: 6px;
                        height: 6px;
                    }
                    @media screen and (max-width: $md4 + px) {
                        width: 5px;
                        height: 5px;
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    &__slider {
    }

    &__slider-item {
        position: relative;
        z-index: 1;
        padding: 55px 0 114px 0;
        text-align: center;

        @media screen and (max-width: $md3 + px) {
            padding: 40px 0 80px 0;
        }
        @media screen and (max-width: $md4 + px) {
            padding: 30px 0 60px 0;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__container {
    }

    &__title {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.25);

        margin-bottom: 17px;

        @media screen and (max-width: $md1 + px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 5px;
        }
    }

    &__subtitle {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 23px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.15);

        @media screen and (max-width: $md1 + px) {
            font-size: 14px;
            line-height: 18px;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 13px;
            line-height: 16px;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 11px;
            line-height: 13px;
        }
    }

    &__topic {
        font-family: "Proxima Nova", Montserrat, Roboto, "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 80px;
        line-height: 97px;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        max-width: 1000px;
        margin: 23px auto;

        @media screen and (max-width: $md1 + px) {
            font-size: 60px;
            line-height: 70px;
            max-width: 780px;
            margin: 20px auto;
        }
        @media screen and (max-width: $md2 + px) {
            font-size: 50px;
            line-height: 55px;
            max-width: 620px;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 40px;
            line-height: 42px;
            max-width: 390px;
        }
        @media screen and (max-width: $md4 + px) {
            font-size: 28px;
            line-height: 35px;
            max-width: 255px;
            // margin: 17px auto;
            text-shadow: 0 2px 2px rgba(0,0,0,.25);
        }
    }

    &__read-more {
        min-width: 170px;
        height: 40px;
        font-size: 17px;
        line-height: 23px;

        @media screen and (max-width: $md1 + px) {
            min-width: 150px;
            height: 37px;
            font-size: 14px;
            line-height: 18px;
        }
        @media screen and (max-width: $md2 + px) {
            min-width: 135px;
            height: 33px;
            font-size: 13px;
        }
        @media screen and (max-width: $md3 + px) {
            // min-width: 110px;
            // height: 30px;
            // font-size: 11px;
        }
        @media screen and (max-width: $md4 + px) {
            padding: 0 20px;
            min-width: 90px;
            height: 25px;
            font-size: 10px;
        }
    }
}