@import '../_variables';
@import '../_mixins';

/* Logo */

.logo {
    display: block;
    text-decoration: none;

    &_big {
        display: flex;
    }

    &_big &__img {
        margin-right: 18px;
        @media screen and (max-width: $md2 + px) {
            margin-right: 14px;
        }

        img {
            @media screen and (max-width: $md2 + px) {
                height: 60px;
            }
        }
    }
    &_small &__img {
        text-align: center;

        img {
            height: 55px;
            @media screen and (max-width: $md2 + px) {
                height: 40px;
            }
            @media screen and (max-width: $md3 + px) {
                height: 35px;
            }
        }
    }

    &_small &__info {
        margin-top: 3px;
        @media screen and (max-width: $md3 + px) {
            margin-top: 1px;
        }
    }


    &__title {
        font-family: Roboto, sans-serif;
        letter-spacing: 0.25em;
        color: #363636;
    }     
    &_big &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        @media screen and (max-width: $md2 + px) {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &_small &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-indent: 0.25em;

        @media screen and (max-width: $md2 + px) {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: .2em;
            text-indent: .2em;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: .1em;
            text-indent: .1em;
        }
    }

    &_big &__sub-title {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        color: #22212C;
        max-width: 135px;
        margin-top: 8px;
        @media screen and (max-width: $md2 + px) {
            line-height: 14px;
            max-width: 135px;
            margin-top: 7px;
        }
    }
}