@import '../_variables';
@import '../_mixins';

/* Menu */

.menu {

    &__button {
        display: none;
        @media screen and (max-width: $md3 + px) {
            display: block;
            background: none;
            border: none;
        }
    }

    &__burger {
        position: relative;
        width: 30px;
        height: 2px;
        background: #363636;
        transition: all 0.3s ease;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background: #363636;
            transition: all 0.3s ease;
        }

        &::before {
            top: -12px;
        }
        &::after {
            bottom: -12px;
        }
    }

    // Active modificator when menu is opened

    &__button_active &__burger-line {
        &:nth-child(1) {
            transform: rotate(-45deg);
            top: 9px;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(45deg);
            bottom: 9px;
        }
    }

    &__body {
        @media screen and (max-width: $md3 + px) {

            // Opened modificator when menu-body should be opened

            &_open {

            }

            // hide all inner elements when not active (to avoid focus by TAB key)
            &:not(.menu__body_open) * {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__left {
        flex: 0 1 50%;

        display: flex;
        align-items: center;
    }

    &__logo-bg {
        flex: 1 0 25%;
    }

    &__right {
        flex: 0 1 50%;

        display: flex;
        align-items: center;
    }

    &__list-item {
        &:not(:last-child) {
            margin-right: 22%;
        }
    }

    &__link {
        position: relative;

        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;

        color: #363636;

        &::after {
            content: "";

            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);

            width: 0;
            opacity: 0;
            height: 2px;
            background: linear-gradient(234.45deg, #621EF4 0.79%, #A159FD 100%);

            transition: all 0.3s ease;
        }

        // Current modificator on current page link

        &_current {
            font-weight: 500;

            &::after {
                width: 120%;
                opacity: 1;
            }
        }

        &:hover {
            &::after {
                width: 120%;
                opacity: 1;
            }
        }
    }
}
