@import '../_variables';
@import '../_mixins';

/* Menu */

.menu {

    &__button {
        display: none;
        @media screen and (max-width: $md3 + px) {
            display: block;
            background: none;
            border: none;
            z-index: 51;
        }
    }

    &__burger-inner,
    &__burger::before,
    &__burger::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #484848;
        transition: all var(--transition-time, 0.5s) ease;

    }

    &__burger {
        position: relative;
        width: 22px;
        height: 18px;

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }

    &__burger-inner {
        top: 50%;
        transform: translate3d(0, -50%, 0);
    }

    // Active modificator when menu is opened

    &__button_active::before {
        transform: rotate(-45deg);
        top: 8px;
    }
    &__button_active &__burger-inner {
        opacity: 0;
    }
    &__button_active::after {
        transform: rotate(45deg);
        bottom: 8px;
    }

    &__body {
        @media screen and (max-width: $md3 + px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            z-index: 50;
            transition: all var(--transition-time, 0.5s) ease;

            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;

            // Opened modificator when menu-body should be opened

            &_open {
                left: 0;
            }

            // hide all inner elements when not active (to avoid focus by TAB key)
            &:not(.menu__body_open) * {
                display: none;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;

        @media screen and (max-width: $md3 + px) {
            flex-direction: column;
        }
    }

    &__left {
        @media screen and (min-width: $md3 + 1 + px) {
            flex: 0 1 50%;
        }

        display: flex;
        align-items: center;

        @media screen and (max-width: $md3 + px) {
            flex-direction: column;
        }
    }

    &__logo-bg {
        @media screen and (min-width: $md3 + 1 + px) {
            flex: 1 0 25%;
        }
        @media screen and (max-width: $md3 + px) {
            display: none;
        }
    }

    &__right {
        @media screen and (min-width: $md3 + 1 + px) {
            flex: 0 1 50%;
        }

        display: flex;
        align-items: center;

        @media screen and (max-width: $md3 + px) {
            flex-direction: column;
        }
    }

    &__list-item {
        &:not(:last-child) {
            
            @media screen and (min-width: $md1 + 1 + px) {
                margin-right: 22%;
            }
            @media screen and (min-width: $md2 + 1 + px) {
                margin-right: 18%;
            }
            @media screen and (min-width: $md3 + 1 + px) {
                margin-right: 15%;
            }
        }

        @media screen and (max-width: $md3 + px) {
            margin-bottom: 30px;
        }
    }

    &__link {
        position: relative;

        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;

        @media screen and (max-width: $md2 + px) {
            font-size: 14px;
            line-height: 16px;
        }
        @media screen and (max-width: $md3 + px) {
            font-size: 22px;
            line-height: 25px;
        }

        color: #363636;

        &::after {
            content: "";

            position: absolute;
            bottom: -7px;
            left: 50%;
            transform: translate3d(-50%, 0, 0);

            width: 0;
            opacity: 0;
            height: 2px;
            background: linear-gradient(234.45deg, #621EF4 0.79%, #A159FD 100%);

            transition: all var(--transition-time, 0.5s) ease;
        }

        // Current modificator on current page link

        &_current {
            font-weight: 500;
        }

        &_current,
        &:focus,
        &:hover {
            &::after {
                width: calc(100% + 0.5em);
                opacity: 1;
            }
        }
    }
}
