@import '../_variables';
@import '../_mixins';

/* Page */

.page {

    &__container {
        max-width: $max-container-width + px;
        margin: 0 auto;
        @media screen and (max-width: $md1 + px) {
            max-width: 970px;
        }
        @media screen and (max-width: $md2 + px) {
            max-width: 750px;
        }
        @media screen and (max-width: $md3 + px) {
            max-width: 100%;
            padding: 0 10px;
        }
    }

    &__body {
        
        // Lock modificator when some menu is opened (to stop scroll)
        &_lock {
            overflow: hidden;
        }

        // for sticky footer
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__top-header {

    }

    &__main {
        // for sticky footer
        flex-grow: 1;
    }

    &__header {

    }

    &__sidebar {
    }

    &__content {
    }

    &__contant-container {
        max-width: 860px;
        margin: 0 auto;
    }

    &__footer {

    }
}
