@import '../_variables';
@import '../_mixins';

/* Page */

.page {

    &__container {
        max-width: $max-container-width + px;
        margin: 0 auto;
        @media screen and (max-width: $md1 + px) {
            max-width: 970px;
        }
        @media screen and (max-width: $md2 + px) {
            max-width: 750px;
        }
        @media screen and (max-width: $md3 + px) {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    &__body {
        
        // Lock modificator when some menu is opened (to stop scroll)
        &_lock {
            overflow: hidden;
        }

        // for sticky footer
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2000;

        box-shadow: 0px 4px 10px rgba(80, 80, 80, 0.1);

        &_hidden {
            box-shadow: none;
        }
        
        transition: all var(--transition-time, 0.4s) ease;
    }

    &__top-header {
        transition: padding var(--transition-time, 0.4s) ease;        
    }

    &__top-menu {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        z-index: -1;

        box-shadow: 0px 4px 10px rgba(80, 80, 80, 0.1);

        &_hidden {
            box-shadow: none;
        }

        transition: all var(--transition-time, 0.4s) ease;
    }

    &__header {
        z-index: 1;
    }

    &__main {
        // for sticky footer
        flex-grow: 1;

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        overflow: hidden;

        transition: padding 0.8s ease;
    }

    &__sidebar-wrapper {
    }

    &__sidebar-overlayer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        
        opacity: 0;
        visibility: hidden;
        
        transition: all 0.8s ease;

        &_active {
            @media screen and (max-width: 1290px) {
                opacity: 1;
                visibility: visible;
            }
        }

        @media screen and (max-width: $md4 + px) {
            z-index: 2000;
        }
    }

    &__sidebar {
        @media screen and (min-width: $md4 + 1 + px) {
            transition: right 0.8s ease, padding-top 0.4s ease;
        }
        @media screen and (max-width: $md4 + px) {
            transition: top 0.8s ease;
            z-index: 2000;
        }
    }

    &__sidebar-toggle {
    }

    &__content {
        flex: 1;
        width: 100%;
    }

    &__content-container {
        max-width: 860px;
        margin: 0 auto;
        @media screen and (max-width: $md2 + px) {
            padding: 0 15px;
        }
    }

    &__article-action {
    }

    &__footer {
        z-index: 0;
    }
}
