@import '../_variables';
@import '../_mixins';

.page {

    &__body {
        font-family: $defaultFont, sans-serif;
        color: #000;

        // Lock modificator when some menu is opened (to stop scroll)
        &_lock {
            overflow: hidden;
        }

        // for sticky footer
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    &__header {
    }

    &__main {
        // for sticky footer
        flex-grow: 1;
    }

    &__footer {
    }
}