@import '../_variables';
@import '../_mixins';

/* Sidebar */

.sidebar {
    overflow: hidden;
    display: flex;

    width: 380px;

    position: fixed; 
    top: 0;
    bottom: 0;
    right: 0;

    background: #fff;
    box-shadow: -7px 0px 10px rgba(0, 0, 0, 0.1); 

    @media screen and (max-width: $md2 + px) {
        box-shadow: -2px 0 10px rgba(0,0,0,.1);
    }
    @media screen and (max-width: $md3 + px) {
        width: 350px;
    }
    @media screen and (max-width: $md4 + px) {
        top: 17%;
        left: 0;
        width: 100%;
        flex-direction: column;
        z-index: 2000;

        &_hidden {
            top: calc(100vh - 50px);
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35px;
        background: linear-gradient(0deg, rgba(255,255,255,1), rgba(255,255,255,0));
        @media screen and (max-width: $md4 + px) {
            display: none;
        }
    }

    &__fixed-bar {
        position: relative;

        flex: 0 0 70px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $md3 + px) {
            flex: 0 0 60px;
        }
        @media screen and (max-width: $md4 + px) {
            flex: 0 0 50px;
            justify-content: flex-start;
        }
    }

    &__fixed-bar-content {
        transition: all var(--transition-time, 0.4s) ease;
        opacity: 1;

        &_hidden {
            opacity: 0;
        }

        &_desktop {
            @media screen and (max-width: $md4 + px) {
                display: none;
            }
        }

        &_mobile {
            @media screen and (min-width: $md4 + 1 + px) {
                display: none;
            }
        }
    }

    &__toggle {
        background: none;
        border: 0;
        padding: 0;

        position: absolute;
        

        @media screen and (min-width: $md3 + 1 + px) {
            top: 35px;
        }
        @media screen and (min-width: $md4 + 1 + px) {
            top: 30px;
            left: 50%;
            transform: translate3d(-50%, 0, 0) rotate(180deg);
        }
        @media screen and (max-width: $md4 + px) {
            right: 25px;
            top: 50%;
            transform: translate3d(0, -50%, 0) rotate(-90deg);
        }

        transition: all var(--transition-time, 0.4s) ease;
    }
    &__toggle_active {
        @media screen and (min-width: $md4 + 1 + px) {
            transform: translate3d(-50%, 0, 0);
        }
        @media screen and (max-width: $md4 + px) {
            transform: translate3d(0, -50%, 0) rotate(90deg);
        }
    }

    &__content {
        flex: 1;
        padding: 80px 80px 50px 0;
        overflow: auto;

        @media screen and (max-width: $md3 + px) {
            padding: 70px 60px 40px 0;
        }
        @media screen and (max-width: $md4 + px) {
            padding: 15px 15px;
        }

        opacity: 1;
        visibility: visible;

        transition: all var(--transition-time, 0.4s) ease;
    }
    &_hidden &__content {
        opacity: 0;
        visibility: hidden;
    }

    &__section {
        margin: 0px 0px 50px 0px;
    }

    &__title {
        font-family: Montserrat, "Open Sans", sans-serif;
        font-weight: 800;
        font-size: 17px;
        line-height: 21px;
        color: #3C3C3C;

        margin: 0 0 32px 0;
    }

    &__social {
        @media screen and (max-width: $md4 + px) {
            justify-content: center;
        }
    }

    &__form {
    }

    &__form-submit {
        margin-top: 23px;
    }

    &__image {
        border-radius: 11px;
        overflow: hidden;

        img {
            max-width: 100%;
        }

        @media screen and (max-width: $md4 + px) {
            text-align: center;
        }
    }

    &__category-list {

    }
}
