@import '../_variables';
@import '../_mixins';

/* Top-Header */

.top-header {
    box-shadow: 0px 4px 10px rgba(80, 80, 80, 0.1);
    background: #fff;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    transition: all var(--transition-time, 0.5s) ease;

    &__main {

    }

    &__progress-bar {
        position: relative;
        height: 6px;
        background: #F5F5F5;

        @media screen and (max-width: $md3 + px) {
            height: 4px;
        }

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 30%;
            background: var(--accent-color, #621EF4);
        }

        // TODO: Сделать появление при прокрутке
        display: none;
    }

    &__top-menu {
        // TODO: Сделать появление при прокрутке
        display: none;
    }
}