@import '../_variables';
@import '../_mixins';

/* Top-Header */

.top-header {
    background: #fff;
    height: 96px;

    @media screen and (max-width: $md2 + px) {
        height: 75px;
    }
    @media screen and (max-width: $md3 + px) {
        height: 60px;
    }

    &__container {
        position: relative;
        height: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 51;
    }

    &__menu {
        @media screen and (min-width: $md3 + 1 + px) {
            flex: 0 0 100%;
        }
    }

    &__user-block {
        z-index: 51;
        
        @media screen and (min-width: $md3 + 1 + px) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }
}