@import '../_variables';
@import '../_mixins';

/* Top-Menu */

.top-menu {
    background: #fff;

    &__progress {
        position: relative;
        height: 6px;
        background: #F5F5F5;

        @media screen and (max-width: $md3 + px) {
            height: 4px;
        }

        &-value {
            content: '';
            position: absolute;
            height: 100%;
            width: 30%;
            background: var(--accent-color, #621EF4);
        }
    }

    &__content {
        height: 65px;
        @media screen and (max-width: $md4 + px) {
            height: 55px;
        }
    }

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__breadcrumbs {
        
    }

    &__breadcrumbs-item {
        &:not(:last-child)::after {
            content: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 3.5L0.6965 7L0 6.262L2.607 3.5L0 0.738L0.6965 0L4 3.5Z' fill='%23787878'/%3E%3C/svg%3E%0A");
            margin: auto 8px;
            padding-bottom: 0.2em;
            @media screen and (max-width: $md1 + px) {
                margin: auto 5px;
            }
            @media screen and (max-width: $md2 + px) {
                margin: auto 4px;
            }
        }
    }

    &__breadcrumbs-link {
        font-weight: 300;
        color: #828282;
        padding: 0 8px;

        transition: all var(--transition-time, 0.4s) ease;
        @media screen and (min-width: $md3 + 1 + px) {
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            &:hover, &:focus {
                background: #f5f5f5;
            }
        }
        @media screen and (max-width: $md2 + px) {
            font-size: 12px;
            padding: 0 5px;
        }
    }

    &__article-action {
        flex-shrink: 0;
        @media screen and (max-width: $md4 + px) {
            display: none;
        }
    }

    &__article-action-list {
        @media screen and (min-width: $md1 + 1 + px) {
            margin-right: 50px;
        }
        @media screen and (max-width: $md3 + px) {
            display: none;
        }
    }

    &__article-action-bookmark {
        height: 30px;
        font-size: 12px;
        @media screen and (max-width: $md3 + px) {
            margin: 0 !important;
        }
    }
}
