
// INFO

/*
    This file contains general styles (used on many pages) and base css custom properties.
    All fonts files was downloaded, but included only needed.

    Included fonts:
        Montseratt
        Proxima Nova
        Open Sans
        Roboto
        Roboto Slab

    Included blocks: 
        TODO: Note about included blocks
*/



// VARIABLES & MIXINS

// СSS Custom properties
:root {

    /* Основной акцентный цвет */
    --accent-color: #621EF4; // var(--accent-color, #621EF4)

    /* Основной акцентный цвет, но чуть потемнее */
    --accent-dark-color: #4305C7; // var(--accent-dark-color, #4305C7)

    /* Время переходов */
    --transition-time: 0.4s; // transition: all var(--transition-time, 0.4s) ease;
}

// SCSS variables and mixins
@import '_variables';
@import '_mixins';



// FONTS

// This file contains @font-face rules
@import '_fonts';

// Google fonts: cyrillic support (add this suffix on URL)
// &subset=cyrillic-ext

// Google fonts: display swap as a best practice (add this suffix on URL)
// &display=swap

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;400;600;700&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap');



// NULL & GENERAL
@import 'null';

// Border-Box for all elements and their pseudoelements
*, *::before, *::after {
    box-sizing: border-box;
}

// Links inherit style
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Open Sans", "Roboto", sans-serif;
    color: #000;
}

// _visually-hidden class for elements like default checkbox (it should not be visible, but it should be!)
._visually-hidden {
    @include visually-hidden();
}

// _focus-outline class for elements, needed custom outline
._focus-outline:focus {
    @include focus-outline();
}

// setting custom focus outline for focusable elements
a:focus, link:focus, button:focus, input:focus, select:focus, textarea:focus {
    @include focus-outline();
}

// _no-focus class for elements, which not needed focus
._no-focus-outline:focus {
    @include no-focus-outline();
}

// remove focus outline for elements, which are on focus, but not by TAB key
.js-focus-visible :focus:not(.focus-visible) {
    @include no-focus-outline();
}

// clearfix
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}


// BEM BLOCKS

@import 'blocks/page';
@import 'blocks/form';
@import 'blocks/check';
@import 'blocks/button';
@import 'blocks/breadcrumbs';
@import 'blocks/logo';
@import 'blocks/social';
@import 'blocks/theme-list';

@import 'blocks/top-header';
@import 'blocks/top-menu';
@import 'blocks/menu';
@import 'blocks/user-block';

@import 'blocks/page-header';
@import 'blocks/hero';
@import 'blocks/header';

@import 'blocks/main';
@import 'blocks/page-content';

@import 'blocks/home-page';

@import 'blocks/article';
@import 'blocks/article-header';
@import 'blocks/article-action';
@import 'blocks/contents-table';
@import 'blocks/quote';
@import 'blocks/message';
@import 'blocks/article-footer';
@import 'blocks/author';
@import 'blocks/see-also';

@import 'blocks/sidebar';
@import 'blocks/category';
@import 'blocks/popular';
@import 'blocks/recent';

@import 'blocks/footer';
