
// INFO

/*
    This file contains general styles (used on many pages) and base css custom properties.
    Included blocks: 
        blocks/page.css
        blocks/form.css
        blocks/check.css
        blocks/header.css
        blocks/menu.css
        blocks/main.css
        blocks/footer.css
*/



// VARIABLES & MIXINS

// СSS Custom properties
:root {

    // /* Основной акцентный цвет */
    // --accent-color: #6A25FF;

}

// SCSS variables and mixins
@import '_variables';
@import '_mixins';



// FONTS

// This file contains @font-face rules
@import '_fonts';

// Google fonts: cyrillic support (add this suffix on URL)
// &subset=cyrillic-ext

// Google fonts: display swap as a best practice (add this suffix on URL)
// &display=swap



// NULL & GENERAL
@import 'null';

// _visually-hidden class for elements like default checkbox (it should not be visible, but it should be!)
._visually-hidden {
    @include visually-hidden();
}

// _focus-outline class for elements, needed custom outline
._focus-outline:focus {
    @include focus-outline();
}

// setting custom focus outline for focusable elements
// a:focus, link:focus, button:focus, input:focus, select:focus, textarea:focus {
//     @include focus-outline();
// }

// _no-focus class for elements, which not needed focus
._no-focus-outline:focus {
    @include no-focus-outline();
}

// remove focus outline for elements, which are on focus, but not by TAB key
.js-focus-visible :focus:not(.focus-visible) {
    @include no-focus-outline();
}



// PAGE GRID & CONTAINER

._container {
    max-width: $max-container-width + px;
    margin: 0 auto;
    @media screen and (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media screen and (max-width: $md2 + px) {
        max-width: 750px;
    }
    @media screen and (max-width: $md3 + px) {
        max-width: 100%;
        padding: 0 10px;
    }
}



// BEM BLOCKS

@import 'blocks/page';
@import 'blocks/form';
@import 'blocks/check';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/main';
@import 'blocks/footer';

